// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.2\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "logLevel": "INFO",
  "autoMapPoll": "2000",
  "cacheAnimalsData": "10000",
  "cacheMobsData": "10000",
  "cachePlayerData": "1000",
  "cachePlayersData": "10000",
  "cacheVillagersData": "10000",
  "announceMod": "true",
  "checkUpdates": "true",
  "recordCacheStats": "false",
  "browserPoll": "10000",
  "themeName": "Purist",
  "caveIgnoreGlass": "true",
  "mapBathymetry": "true",
  "mapTopography": "false",
  "mapTransparency": "true",
  "mapCaveLighting": "false",
  "mapAntialiasing": "false",
  "mapPlantShadows": "true",
  "mapPlants": "true",
  "mapCrops": "true",
  "mapSurfaceAboveCaves": "true",
  "renderDistanceCaveMin": "1",
  "renderDistanceCaveMax": "1",
  "renderDistanceSurfaceMin": "5",
  "renderDistanceSurfaceMax": "8",
  "renderDelay": "2",
  "revealShape": "Circle",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "true",
  "tileHighDisplayQuality": "false",
  "maxAnimalsData": "1",
  "maxMobsData": "1",
  "maxPlayersData": "1",
  "maxVillagersData": "1",
  "hideSneakingEntities": "true",
  "radarLateralDistance": "16",
  "radarVerticalDistance": "8",
  "tileRenderType": "1",
  "mappingEnabled": "true",
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": "true",
  "optionsManagerViewed": "5.2.3",
  "splashViewed": "5.2.3",
  "gridSpecs": {
    "day": "Squares,#808080,0.5,-1,-1",
    "night": "Squares,#8080ff,0.3,-1,-1",
    "underground": "Squares,#808080,0.3,-1,-1"
  },
  "configVersion": "5.2.3"
}