# Configuration file

blastresistance {
}


canplaceblock {
    B:"BiblioCraft:BiblioIronLanter"=false
    B:"BiblioCraft:BiblioLantern"=false
    B:"Thaumcraft:blockAiry"=false
    B:"Thaumcraft:blockCandle"=true
    B:"chisel:chest0"=false
    B:"chisel:chest1"=false
    B:"chisel:chest10"=false
    B:"chisel:chest11"=false
    B:"chisel:chest12"=false
    B:"chisel:chest13"=false
    B:"chisel:chest14"=false
    B:"chisel:chest15"=false
    B:"chisel:chest2"=false
    B:"chisel:chest3"=false
    B:"chisel:chest4"=false
    B:"chisel:chest5"=false
    B:"chisel:chest6"=false
    B:"chisel:chest7"=false
    B:"chisel:chest8"=false
    B:"chisel:chest9"=false
    B:"minecraft:chest"=false
    B:"minecraft:dirt"=true
    B:"minecraft:redstone_torch"=false
    B:"terrafirmacraft:ClayGrass"=true
    B:"terrafirmacraft:DryGrass"=false
    B:"terrafirmacraft:DryGrass2"=false
    B:"terrafirmacraft:Grass"=false
    B:"terrafirmacraft:Grass2"=false
}


canuseonblock {
    B:"BiblioCraft:BiblioIronLanter"=false
    B:"BiblioCraft:BiblioLantern"=false
    B:"BuildCraft|Builders:markerBlock"=true
    B:"BuildCraft|Factory:machineBlock"=true
    B:"BuildCraft|Transport:item.buildcraftPipe.pipeitemsstone"=true
    B:"ImmersiveEngineering:metalDevice"=true
    B:"PneumaticCraft:etchingAcidBucket"=false
    B:"Thaumcraft:ItemResource"=false
    B:"Thaumcraft:blockAiry"=false
    B:"Thaumcraft:blockCandle"=true
    B:"chisel:chest0"=false
    B:"chisel:chest1"=false
    B:"chisel:chest10"=false
    B:"chisel:chest11"=false
    B:"chisel:chest12"=false
    B:"chisel:chest13"=false
    B:"chisel:chest14"=false
    B:"chisel:chest15"=false
    B:"chisel:chest2"=false
    B:"chisel:chest3"=false
    B:"chisel:chest4"=false
    B:"chisel:chest5"=false
    B:"chisel:chest6"=false
    B:"chisel:chest7"=false
    B:"chisel:chest8"=false
    B:"chisel:chest9"=false
    B:"minecraft:bucket"=false
    B:"minecraft:chest"=false
    B:"minecraft:dirt"=false
    B:"minecraft:redstone_torch"=false
}


common {
    B:noobprotection=true
}


durability {
    S:"Thaumcraft:BootsTraveler"=1000
    S:"Thaumcraft:ItemGoggles"=1000
}


fireinfo {
    S:"Thaumcraft:blockCosmeticDoubleSlabWood"=90:40
    S:"Thaumcraft:blockCosmeticSlabWood"=90:40
    S:"Thaumcraft:blockStairsGreatwood"=90:40
    S:"Thaumcraft:blockStairsSilverwood"=90:40
    S:"terrafirmacraft:Crops"=10:20
    S:"terrafirmacraft:LooseRock"=90:40
    S:"terrafirmacraft:TallGrass"=10:20
    S:"terrafirmacraft:Torch"=1:1
    S:"terrafirmacraft:WoodVert2"=100:50
    S:"terrafirmacraft:sapling"=10:20
}


hardness {
}


harvestlevel {
}


lightlevel {
    S:"Minecraft:redstone_torch"=0
    S:"Thaumcraft:blockCandle"=0.5
}


oredictionary {
}


