# Configuration file

blastresistance {
}


canplaceblock {
    B:"BiblioCraft:BiblioIronLanter"=false
    B:"BiblioCraft:BiblioLantern"=false
    B:"Thaumcraft:blockAiry"=false
    B:"Thaumcraft:blockCandle"=true
    B:"minecraft:chest"=false
    B:"minecraft:redstone_torch"=false
}


canuseonblock {
    B:"BiblioCraft:BiblioIronLanter"=false
    B:"BiblioCraft:BiblioLantern"=false
    B:"PneumaticCraft:etchingAcidBucket"=false
    B:"Thaumcraft:ItemResource"=false
    B:"Thaumcraft:blockAiry"=false
    B:"Thaumcraft:blockCandle"=true
    B:"minecraft:bucket"=false
    B:"minecraft:chest"=false
    B:"minecraft:redstone_torch"=false
}


common {
    B:noobprotection=true
}


durability {
    S:"Thaumcraft:BootsTraveler"=1000
    S:"Thaumcraft:ItemGoggles"=1000
}


fireinfo {
    S:"Thaumcraft:blockCosmeticDoubleSlabWood"=90:40
    S:"Thaumcraft:blockCosmeticSlabWood"=90:40
    S:"Thaumcraft:blockStairsGreatwood"=90:40
    S:"Thaumcraft:blockStairsSilverwood"=90:40
    S:"terrafirmacraft:Crops"=10:20
    S:"terrafirmacraft:LooseRock"=90:40
    S:"terrafirmacraft:TallGrass"=10:20
    S:"terrafirmacraft:WoodVert2"=100:50
    S:"terrafirmacraft:sapling"=10:20
}


hardness {
}


harvestlevel {
}


lightlevel {
    S:"Minecraft:redstone_torch"=0
    S:"Thaumcraft:blockCandle"=0.5
}


oredictionary {
}


