/JourneyMapServer1.0.5_MC1.7.10.jar
/Morpheus-1.7.10-1.6.10.jar
/mods/AquaTweaks-1.7.10-1.0.jar
/mods/BetterFoliage-mc1.7-1.0.15.jar
/mods/BetterFps-1.0.1.jar
/mods/betterrain-1.7.2-1.7.10_0.15.jar
/mods/betterrain-1.7.2-1.7.10_0.15-core.jar
/mods/BetterSprinting  MC-1.7.10  v1.1.2.jar
/mods/HardcoreDarkness-MC1.7.10-1.6.jar
/mods/ChunkAnimator-MC1.7.10-1.0.1.jar
/mods/CustomMainMenu-MC1.7.10-1.8.jar
/mods/DynamicLights-1.7.10.jar
/mods/LunatriusCore-1.7.10-1.1.2.21-universal.jar
/mods/IGW-Mod-1.7.10-1.1.10-30-universal.jar
/mods/InventoryTweaks-1.58-147.jar
/mods/journeymap-1.7.10-5.1.0-fairplay.jar.disabled
/mods/LaunchGui-1.7.10-2.0-18-client.jar
/mods/Wawla-1.3.3-1.7.10.jar
/mods/MapWriter-1.7.10-2.1.10.jar
/mods/MineTweakerRecipeMaker-1.7.10-1.1.0.11.jar
/mods/neiaddons-1.12.11.36-mc1.7.10.jar
/mods/NEIIntegration-MC1.7.10-1.0.12.jar
/mods/ResourceLoader-1.2.jar
/mods/Revamp-1.3.1.jar
/mods/Schematica-1.7.10-1.7.6.130-universal.jar
/mods/SciAPI v0.5.2.jar
/mods/SoundFilters-0.8_for_1.7.X.jar
/mods/Stellar Sky-v0.1.10\[1.7.10\].jar
/mods/TabbyChat-1.7.10-1.11.2.2-fml.jar
/mods/TerraFirmaCraftNEIplugin-1.7.10-1.5.3.24.jar
/mods/thaumcraftneiplugin-1.7.10-1.7a.jar
/mods/WailaHarvestability-mc1.7.x-1.1.0.jar
/mods/BetterFoliage-MC1.7.10-2.0.jar
/mods/Stellar Sky-v0.1.15\[1.7.10\].jar
/mods/liteloader-1.7.10.jar
/mods/PresenceFootsteps_r5c_Unofficial__1.7.10.litemod
