#
#Sat Oct 04 20:41:50 EDT 2014
custom.stance=0
key.code=0
mlp.detected=false
update_found.display.count.value=3
update_found.display.remaining.value=0
update_found.enabled=true
update_found.version=5
user.volume.0-to-100=70
