# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Manually change the environmental properties of each biome
##########################################################################################################

biomes {

    Ocean {
        I:"01.Biome ID"=0
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=salty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Plains {
        I:"01.Biome ID"=1
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Lake {
        I:"01.Biome ID"=2
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=0.0
    }

    "High Hills" {
        I:"01.Biome ID"=3
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Swamp {
        I:"01.Biome ID"=6
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    River {
        I:"01.Biome ID"=7
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Hell {
        I:"01.Biome ID"=8
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=-0.1
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=-0.1
    }

    Beach {
        I:"01.Biome ID"=16
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=salty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Gravel Beach" {
        I:"01.Biome ID"=17
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=0.0
    }

    "High Hills Edge" {
        I:"01.Biome ID"=20
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Rolling Hills" {
        I:"01.Biome ID"=30
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=cold

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Mountains {
        I:"01.Biome ID"=31
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=cold

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Mountains Edge" {
        I:"01.Biome ID"=32
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=cold

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "High Plains" {
        I:"01.Biome ID"=35
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Deep Ocean" {
        I:"01.Biome ID"=36
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

}


##########################################################################################################
# dimension
#--------------------------------------------------------------------------------------------------------#
# Customise dimension environments
##########################################################################################################

dimension {

    Nether {
        I:"01.Dimension ID"=-1
        B:"02.Allow Config Override"=true
        B:"03.Track Sanity"=true
        B:"04.Dark Affects Sanity"=true
        D:"05.Sanity Multiplier"=1.0
        B:"06.Track Air Quility"=true
        D:"07.Air Quility Multiplier"=1.0
        B:"08.Track Hydration"=true
        D:"09.Hydration Multiplier"=1.0
        B:"10.Track Temperature"=true
        D:"11.Temperature Multiplier"=1.0
        B:"12.Day/Night Affects Temp"=true
        B:"13.Weather Affects Temp"=true
        B:"14.Generate Mineshafts"=false
        I:"15.Where is Sea Level"=340

        # Use a negitive value to skip shaft entrance checks [range: -255 ~ 255, default: 12]
        I:"16.Mine Y height"=-192
        D:"17.Base Temperature Rate"=0.0
        D:"18.Base Hydration Rate"=0.0
        D:"19.Base Sanity Rate"=0.0
        D:"20.Base Air Quality Rate"=0.0
        B:"20.Enable Physics"=true
    }

}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom effects for items
##########################################################################################################

items {

    tile_snow {
        S:01.Name=terrafirmacraft:Snow
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

}


