# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableToolHarvestLevels=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client performance settings" {
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enableRightClickModeChange=false
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    B:showUsage=true
}


crafting {
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockBloodStoneBrick=true
    B:WayofTime.bloodmagic.block.BlockCrystal=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.tomevoll.routerreborn.Blocks.BlockLamp=true
    B:com.yurtmod.block.BlockBedouinRoof=true
    B:com.yurtmod.block.BlockTepeeWall=true
    B:com.yurtmod.block.BlockUnbreakable=true
    B:com.yurtmod.block.BlockYurtWall=true
    B:elec332.eflux.blocks.BlockOres=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:li.cil.oc.common.block.ChameliumBlock=true
    B:li.cil.oc.common.block.FakeEndstone=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBlockConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBrickConfig$1"=true
    B:org.cyclops.integrateddynamics.block.BlockLogicProgrammer=true
    B:"org.cyclops.integrateddynamics.block.BlockMenrilLogConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockMenrilPlanksConfig$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableBookshelf=true
    B:techreborn.blocks.BlockMachineFrame=true
    B:techreborn.blocks.BlockOre=true
    B:techreborn.blocks.BlockOre2=true
    B:techreborn.blocks.BlockRubberPlank=true
    B:techreborn.blocks.BlockStorage=true
    B:techreborn.blocks.BlockStorage2=true
    B:vazkii.psi.common.block.BlockPsiDecorative=true
}


"integration settings" {
    B:ShowBitsInJEI=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


