# Configuration file

##########################################################################################################
# gems light levels
#--------------------------------------------------------------------------------------------------------#
# Light level must be specified in a range 1 - 15
##########################################################################################################

"gems light levels" {
    I:Chipped=2
    I:Exquisite=6
    I:Flawed=3
    I:Flawless=5
    I:Normal=4
}


##########################################################################################################
# lanterns light levels
#--------------------------------------------------------------------------------------------------------#
# Light level must be specified in a range 1 - 15
##########################################################################################################

"lanterns light levels" {
    I:BismuthBronze=1
    I:BlackBronze=1
    I:Brass=1
    I:Bronze=1
    I:Copper=1
    I:Gold=1
    I:Lead=1
    I:Platinum=1
    I:RoseGold=1
    I:Silver=1
    I:SterlingSilver=1
    I:WroughtIron=1
}


modules {
    B:GemsEnabled=true
}


