# Configuration file

##########################################################################################################
# gems light levels
#--------------------------------------------------------------------------------------------------------#
# Light level must be specified in a range 1 - 15
##########################################################################################################

"gems light levels" {
    I:Chipped=1
    I:Exquisite=3
    I:Flawed=2
    I:Flawless=1
    I:Normal=1
}


##########################################################################################################
# lanterns light levels
#--------------------------------------------------------------------------------------------------------#
# Light level must be specified in a range 1 - 15
##########################################################################################################

"lanterns light levels" {
    I:BismuthBronze=2
    I:BlackBronze=2
    I:Brass=2
    I:Bronze=2
    I:Copper=2
    I:Gold=2
    I:Lead=2
    I:Platinum=2
    I:RoseGold=2
    I:Silver=2
    I:SterlingSilver=2
    I:WroughtIron=2
}


modules {
    B:GemsEnabled=true
}


