# Configuration file

clientconfig {
    # How long (in ticks) it takes before control surfaces try to return to their natural angle.  
    # This is not used when using a joystick.
    I:ControlSurfaceCooldown=4

    # Dead zone for joystick axis.  
    # MFS will always use the greater of this value and the value provided by the computer.
    D:DeadZone=0.03

    # Is the starter enabled? 
    # If not, players must hit propellers to start them
    B:ElectricStart=false

    # Factor by which joystick inputs are multiplied.  
    # This controls how quickly the control surfaces change.
    I:JoystickForceFactor=15
    S:JoystickName=

    # Does altimiter read zero at Y=64 instead of Y=0?
    B:SeaLevelOffset=true

    # Whether or not the throttle can be put to zero and kill the engine.  
    # Only valid for joysticks.
    B:ThrottleKills=false
}


fuels {
    I:lava=1000
    I:water=0
}


general {
    # Factor times which engines use fuel.  
    # Change this if you think engines use fuel too fast or slow.
    D:FuelUsageFactor=1.0

    # Any item that contains these words will be counted as heavy (double mass) when considering plane mass.  
    # Change and tweak to your liking.
    S:HeavyItems=diamond, iron, gold, coal, ore, stone

    # Factor to apply to plane movement.  
    # 1 is the realistic value, but this makes planes move too fast for Minecraft. Adjust with caution.
    D:PlaneSpeedFactor=0.5

    # Factor for damage caused by a propeller.
    D:PropellerDamageFactor=5.0
}


joystick {
    I:Brake=999
    I:CamLock=999
    I:ChangeView=999
    I:FlapsDown=999
    I:FlapsUp=999
    I:LookDirectional=999
    I:LookDown=999
    I:LookLeft=999
    I:LookRight=999
    I:LookUp=999
    I:Mod=999
    I:Pitch=999
    D:Pitchmaxtravel=1.0
    D:Pitchmintravel=-1.0
    I:Roll=999
    D:Rollmaxtravel=1.0
    D:Rollmintravel=-1.0
    I:Starter=999
    I:Throttle=999
    D:Throttlemaxtravel=1.0
    D:Throttlemintravel=-1.0
    I:Yaw=999
    D:Yawmaxtravel=1.0
    D:Yawmintravel=-1.0
    I:ZoomIn=999
    I:ZoomOut=999
}


keyboard {
    I:BrakeKey=48
    I:CamLockKey=157
    I:FlapsDownKey=35
    I:FlapsUpKey=21
    I:ModKey=54
    I:PitchDownKey=17
    I:PitchUpKey=31
    I:RollLeftKey=30
    I:RollRightKey=32
    I:StarterKey=50
    I:ThrottleDownKey=37
    I:ThrottleUpKey=23
    I:YawLeftKey=36
    I:YawRightKey=38
    I:ZoomInKey=201
    I:ZoomOutKey=209
}


