#Multipart API config file

debug_asm=false

#Set to true to use mc style icons for the saw instead of the 3D model
useSawIcons=false

sawDiamond
{
	durability=64
}

sawIron
{
	durability=64
}

sawStone
{
	durability=64
}
