# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=982317b8-8231-44c5-b9fc-48db38a46460

    # Set to true to disable all reporting
    B:opt-out=false
}


