# Configuration file

balancing {
    # Are dangerous statues allowed to come to life? (e.g. Ender Dragon)
    B:areDangerousStatuesAllowed=false

    # Are statues allowed to come to life with redstone input?
    B:areLifeStatuesAllowed=false
    B:easterEggsAllowed=false

    # Drop chance of entity vitas when killing a mob. <Temporary config option: Will be removed when the new system is added>
    D:entityVitaDropChance=0
    B:generateFlax=false

    # List of item IDs that are not allowed to be placed in item shelves.
    S:itemShelfBlacklist <
        terrafirmacraft:Torch:*
        terrafirmacraft:log:*
        errafirmacraft:log2:*
     >
}


general {
    B:areDangerousStatuesAllowed=false
    B:areLifeStatuesAllowed=false
    B:easterEggsAllowed=false
}


visual {
    B:doStatueTextureMerge=true
    B:fetchDynamicStatueTextures=true
}


