# Configuration file

average {
    B:"01.Enable Physics"=true
    I:"02.Max Support Distance"=2
    I:"03.Min Missing Blocks To Fall"=1
    I:"04.Max Missing Blocks To Fall"=100
    B:"05.Can Hang"=true
    B:"06.Holds Others Up"=true
}


loose {
    B:"01.Enable Physics"=true
    I:"02.Max Support Distance"=1
    I:"03.Min Missing Blocks To Fall"=1
    I:"04.Max Missing Blocks To Fall"=100
    B:"05.Can Hang"=true
    B:"06.Holds Others Up"=false
}


raw {
    B:"01.Enable Physics"=true
    I:"02.Max Support Distance"=2
    I:"03.Min Missing Blocks To Fall"=1
    I:"04.Max Missing Blocks To Fall"=100
    B:"05.Can Hang"=true
    B:"06.Holds Others Up"=true
}


sand-like {
    B:"01.Enable Physics"=true
    I:"02.Max Support Distance"=0
    I:"03.Min Missing Blocks To Fall"=1
    I:"04.Max Missing Blocks To Fall"=100
    B:"05.Can Hang"=false
    B:"06.Holds Others Up"=false
}

    none {
        B:"01.Enable Physics"=false
        I:"02.Max Support Distance"=3
        I:"03.Min Missing Blocks To Fall"=1
        I:"04.Max Missing Blocks To Fall"=100
        B:"05.Can Hang"=true
        B:"06.Holds Others Up"=false
    }

    glowstone {
        B:"01.Enable Physics"=false
        I:"02.Max Support Distance"=3
        I:"03.Min Missing Blocks To Fall"=1
        I:"04.Max Missing Blocks To Fall"=100
        B:"05.Can Hang"=true
        B:"06.Holds Others Up"=true
    }

}


strong {
    B:"01.Enable Physics"=true
    I:"02.Max Support Distance"=3
    I:"03.Min Missing Blocks To Fall"=1
    I:"04.Max Missing Blocks To Fall"=100
    B:"05.Can Hang"=true
    B:"06.Holds Others Up"=true
}


water {
    B:"01.Enable Physics"=false
    I:"02.Max Support Distance"=3
    I:"03.Min Missing Blocks To Fall"=1
    I:"04.Max Missing Blocks To Fall"=100
    B:"05.Can Hang"=true
    B:"06.Holds Others Up"=true
}


